@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #0c53fb;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #949191;
  --mainSpacing: 0.1rem;
  --mainBackgroundColor: aliceblue;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
